In [23]:
# Pulling data from DC's Data Lake
# Data provided by third party vendor contracted by DC's District Department of Transportation
# Importing the necessary libraries 
import sqlalchemy as sa
from sqlalchemy.engine import create_engine
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [24]:
# Establishing connection with the Data Lake
connect_args={'auth': 'KERBEROS', 'kerberos_service_name': 'impala'}
engine = create_engine('hive://datbdprddt01:21050', connect_args=connect_args)

In [4]:
# Pulling user transaction data from 2018
result_proxy_18  = engine.execute("SELECT meternumber, zone, paymentstart, paymentexpiry, paymentamount, paymenttype, transactionsender, transmissionid FROM thelabdb.ddot_parking_meter_payment WHERE EXTRACT(YEAR FROM paymentstart) = 2018") 
rs_18 = result_proxy_18.fetchall()

Exception closing connection <pyhive.hive.Connection object at 0x7f9bd43a5250>
Traceback (most recent call last):
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2036, in _handle_dbapi_exception
    util.raise_(exc_info[1], with_traceback=exc_info[2])
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/compat.py", line 207, in raise_
    raise exception
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/cursor.py", line 977, in fetchall
    rows = dbapi_cursor.fetchall()
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/pyhive/common.py", line 136, in fetchall
    return list(iter(self.fetchone, None))
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/pyhive/common.py", line 105, in fetchone
    self._fetch_while(lambda: not self._data and self._state != self._STATE_FINISHED)
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/pyhive/common.py", line 45, in _fetch_while
    self._fetch_more()
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/pyhive/hive.py", line 386, in _fetch_more
    response = self._connection.client.FetchResults(req)
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/TCLIService/TCLIService.py", line 714, in FetchResults
    return self.recv_FetchResults()
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/TCLIService/TCLIService.py", line 733, in recv_FetchResults
    result.read(iprot)
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/TCLIService/TCLIService.py", line 3470, in read
    self.success.read(iprot)
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/TCLIService/ttypes.py", line 6583, in read
    self.results.read(iprot)
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/TCLIService/ttypes.py", line 2867, in read
    _elem115.read(iprot)
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/TCLIService/ttypes.py", line 2741, in read
    self.stringVal.read(iprot)
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/TCLIService/ttypes.py", line 2522, in read
    self.values.append(_elem95)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 247, in _close_connection
    self._dialect.do_close(connection)
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 688, in do_close
    dbapi_connection.close()
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/pyhive/hive.py", line 221, in close
    response = self._client.CloseSession(req)
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/TCLIService/TCLIService.py", line 218, in CloseSession
    return self.recv_CloseSession()
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/TCLIService/TCLIService.py", line 237, in recv_CloseSession
    result.read(iprot)
  File "/datar10/opt/anaconda3/lib/python3.9/site-packages/TCLIService/TCLIService.py", line 1538, in read
    iprot.skip(ftype)
  File "/home/josh.hall/.local/lib/python3.9/site-packages/thrift/protocol/TProtocol.py", line 234, in skip
    raise TProtocolException(
thrift.protocol.TProtocol.TProtocolException: invalid TType

KeyboardInterrupt:

In [26]:
# Data begins at 01/01/2018
# * Issue with accessing meter and zone information before 2021, 
# will remove 2018-2020 if there is no way to make data usable * 
dc_18 = pd.DataFrame(rs_18)
dc_18.columns = result_proxy_18.keys()

dc_18_col_names = dc_18.columns.tolist()
print(dc_18_col_names)
dc_18.head()

['meternumber', 'spacenumber', 'zone', 'plate', 'paymentstart', 'paymentexpiry', 'paymentamount', 'paymenttype', 'transactionsender', 'transmissionid']

,meternumber,spacenumber,zone,plate,paymentstart,paymentexpiry,paymentamount,paymenttype,transactionsender,transmissionid
0,NULL,NULL,NULL,NULL,2018-01-01 00:04:36,2018-01-01 23:59:59,0.0,PayByCell,PARKMOBILE,2298a7fa-ee61-4351-bff9-3c52730f35b0
1,NULL,NULL,NULL,NULL,2018-01-01 00:06:09,2018-01-01 23:59:59,0.0,PayByCell,PARKMOBILE,1785a6f5-ab67-4bcc-a5ef-5a8fac701053
2,NULL,NULL,NULL,NULL,2018-01-01 00:06:31,2018-01-01 01:06:31,0.0,PayByCell,PARKMOBILE,da920775-a7f9-4fd9-8a0d-417c8be3eb57
3,NULL,NULL,NULL,NULL,2018-01-01 00:10:14,2018-01-01 23:59:59,0.0,PayByCell,PARKMOBILE,29dff519-7f21-48b4-9fcb-4f0d62bc5d19
4,NULL,NULL,NULL,NULL,2018-01-01 00:42:11,2018-01-01 01:42:11,0.0,PayByCell,PARKMOBILE,ecd65e6a-5943-4cc3-a7f9-92ddca52a7e5

In [61]:
# Defining the path for the Parquet file
dc_18_file_path = "dc_2018_parking_payments.parquet"

# Writing the DataFrame to a Parquet file
table_18 = pa.Table.from_pandas(dc_18)
pq.write_table(table_18, dc_18_file_path)

print("Data saved to:", dc_18_file_path)

Data saved to: dc_2018_parking_payments.parquet

In [15]:
#Repeating process for 2019
result_proxy_19  = engine.execute("SELECT meternumber, zone, paymentstart, paymentexpiry, paymentamount, paymenttype, transactionsender, transmissionid FROM thelabdb.ddot_parking_meter_payment WHERE EXTRACT(YEAR FROM paymentstart) = 2019") 
rs_19 = result_proxy_19.fetchall()

KeyboardInterrupt

In [64]:
dc_19 = pd.DataFrame(rs_19)
dc_19.columns = result_proxy_19.keys()

dc_19_col_names = dc_19.columns.tolist()
print(dc_19_col_names)

['meternumber', 'spacenumber', 'zone', 'paymentstart', 'paymentexpiry', 'paymentamount', 'paymenttype', 'transactionsender', 'transmissionid']

In [65]:
# Defining the path for the Parquet file
dc_19_file_path = "dc_2019_parking_payments.parquet"

# Writing the DataFrame to a Parquet file
table_19 = pa.Table.from_pandas(dc_19)
pq.write_table(table_19, dc_19_file_path)

print("Data saved to:", dc_19_file_path)

Data saved to: dc_2019_parking_payments.parquet

In [16]:
#Repeating process for 2020
result_proxy_20  = engine.execute("SELECT meternumber, zone, paymentstart, paymentexpiry, paymentamount, paymenttype, transactionsender, transmissionid FROM thelabdb.ddot_parking_meter_payment WHERE EXTRACT(YEAR FROM paymentstart) = 2020") 
rs_20 = result_proxy_20.fetchall()

In [18]:
dc_20 = pd.DataFrame(rs_20)
dc_20.columns = result_proxy_20.keys()

dc_20_col_names = dc_20.columns.tolist()
print(dc_20_col_names)
dc_20.head()

['meternumber', 'zone', 'paymentstart', 'paymentexpiry', 'paymentamount', 'paymenttype', 'transactionsender', 'transmissionid']

,meternumber,zone,paymentstart,paymentexpiry,paymentamount,paymenttype,transactionsender,transmissionid
0,NULL,NULL,2020-01-01 00:01:44,2020-01-01 01:02:44,0.0,PayByCell,PARKMOBILE,a65478c5-6358-4484-9c5e-30fb29a328fd
1,NULL,NULL,2020-01-01 00:03:12,2020-01-01 01:03:12,0.0,PayByCell,PARKMOBILE,bc7fd6f4-2bd0-4ed9-afa4-8c45bf3a67f7
2,NULL,NULL,2020-01-01 00:03:25,2020-01-01 04:03:25,0.0,PayByCell,PARKMOBILE,b4a41421-34d3-4239-9efd-c0b574cf9394
3,NULL,NULL,2020-01-01 00:03:28,2020-01-01 23:59:59,0.0,PayByCell,PARKMOBILE,b9a71bad-a2af-463d-a8f9-c7c1d6047ecc
4,NULL,NULL,2020-01-01 00:07:35,2020-01-01 03:07:35,0.0,PayByCell,PARKMOBILE,fc689131-4b2c-415c-b995-4b18b3cfa40c

In [19]:
# Defining the path for the Parquet file
dc_20_file_path = "dc_2020_parking_payments.parquet"

# Writing the DataFrame to a Parquet file
table_20 = pa.Table.from_pandas(dc_20)
pq.write_table(table_20, dc_20_file_path)

In [23]:
# Repeating for 2021
result_proxy_21  = engine.execute("SELECT meternumber, zone, paymentstart, paymentexpiry, paymentamount, paymenttype, transactionsender, transmissionid FROM thelabdb.ddot_parking_meter_payment WHERE EXTRACT(YEAR FROM paymentstart) = 2021") 
rs_21 = result_proxy_21.fetchall()

In [24]:
dc_21 = pd.DataFrame(rs_21)
dc_21.columns = result_proxy_21.keys()

In [25]:
# Defining the path for the Parquet file
dc_21_file_path = "dc_2021_parking_payments.parquet"

# Writing the DataFrame to a Parquet file
table_21 = pa.Table.from_pandas(dc_21)
pq.write_table(table_21, dc_21_file_path)

In [20]:
# Repeating for 2022
result_proxy_22  = engine.execute("SELECT meternumber, zone, paymentstart, paymentexpiry, paymentamount, paymenttype, transactionsender, transmissionid FROM thelabdb.ddot_parking_meter_payment WHERE EXTRACT(YEAR FROM paymentstart) = 2022") 
rs_22 = result_proxy_22.fetchall()

In [21]:
dc_22 = pd.DataFrame(rs_22)
dc_22.columns = result_proxy_22.keys()

In [22]:
# Defining the path for the Parquet file
dc_22_file_path = "dc_2022_parking_payments.parquet"

# Writing the DataFrame to a Parquet file
table_22 = pa.Table.from_pandas(dc_22)
pq.write_table(table_22, dc_22_file_path)

In [26]:
#Repeating for 2023
result_proxy_23  = engine.execute("SELECT meternumber, zone, paymentstart, paymentexpiry, paymentamount, paymenttype, transactionsender, transmissionid FROM thelabdb.ddot_parking_meter_payment WHERE EXTRACT(YEAR FROM paymentstart) = 2023") 
rs_23 = result_proxy_23.fetchall()

In [27]:
dc_23 = pd.DataFrame(rs_23)
dc_23.columns = result_proxy_23.keys()

In [28]:
# Define the path for the Parquet file
dc_23_file_path = "dc_2023_parking_payments.parquet"

# Write the DataFrame to a Parquet file
table_23 = pa.Table.from_pandas(dc_23)
pq.write_table(table_23, dc_23_file_path)

In [ ]:
# There is a lack of `meter_id` present for all non-credit card or cash parking payments.
# This issue can be remedied by querying information and joining later joining it
# to the queried transaction data trough joins. This zone data is from DDOT-provided
# file `ddot_parking_meter_app_zones.parquet`

In [21]:
# Querying relevant columns from `ddot_parking_meter_app_zones.parquet`
result_proxy_zones  = engine.execute("SELECT meter_id, g_zone, g_parkmobi, blk_no, street, address, numberofsp, longitude, latitude FROM thelabdb.ddot_parking_meter_app_zones") 
rs_zones = result_proxy_zones.fetchall()

dc_zones = pd.DataFrame(rs_zones)
dc_zones.columns = result_proxy_zones.keys()

dc_zones

,meter_id,g_zone,g_parkmobi,blk_no,street,address,numberofsp,longitude,latitude
0,20230891.0,910.0,2169.0,800.0,23RD ST NW,800 23RD ST NW E,7.0,-77.05008,38.89983
1,44296893.0,915.0,0.0,6800.0,EASTERN AVE NW,6800 EASTERN AVE NW N,5.0,-77.01333,38.97436
2,82722791.0,915.0,0.0,2700.0,POPLAR ST SE,2700 POPLAR ST SE S,8.0,-76.99365,38.84711
3,62503806.0,801.0,21970.0,3800.0,PENNSYLVANIA AVE SE,3800 PENNSYLVANIA AVE SE W,1.0,-76.95081,38.86555
4,62503804.0,801.0,21970.0,3800.0,PENNSYLVANIA AVE SE,3800 PENNSYLVANIA AVE SE W,1.0,-76.95081,38.86555
...,...,...,...,...,...,...,...,...,...
8176,34705112.0,307.0,22967.0,5100.0,MACARTHUR BLVD NW,5100 MACARTHUR BLVD NW W,1.0,-77.10255,38.92585
8177,34705110.0,307.0,22967.0,5100.0,MACARTHUR BLVD NW,5100 MACARTHUR BLVD NW W,1.0,-77.10255,38.92585
8178,34705114.0,307.0,22967.0,5100.0,MACARTHUR BLVD NW,5100 MACARTHUR BLVD NW W,1.0,-77.10259,38.92588
8179,34705116.0,307.0,22967.0,5100.0,MACARTHUR BLVD NW,5100 MACARTHUR BLVD NW W,1.0,-77.10262,38.92590
8180,34705118.0,307.0,22967.0,5100.0,MACARTHUR BLVD NW,5100 MACARTHUR BLVD NW W,1.0,-77.10264,38.92592

In [22]:
# Defining path for the Parquet file
dc_zones_file = "dc_meters_and_zones.parquet"

# Writing the DataFrame to a Parquet file
dc_zones = pa.Table.from_pandas(dc_zones)
pq.write_table(dc_zones, dc_zones_file)

In [32]:
# Pulling parking policies to help create occupancy denominator in later analysis
result_proxy_poli  = engine.execute("SELECT meternumber, policy, effectivedate FROM thelabdb.ddot_parking_meter_policy") 
rs_poli = result_proxy_poli.fetchall()

In [33]:
dc_poli = pd.DataFrame(rs_poli)
dc_poli.columns = result_proxy_poli.keys()

In [34]:
dc_poli

,meternumber,policy,effectivedate
0,10052003.0,07:00AM-06:30PM MON-SAT $2.30 240 | TOW: | CL...,2018-01-09 19:00:00.000
1,10052003.0,07:00AM-06:30PM MON-SAT $2.30 240 | TOW: | CL...,2018-04-05 21:00:00.000
2,10052003.0,07:00AM-06:30PM MON-SAT $2.30 240 | TOW: | CL...,2018-05-01 20:00:00.000
3,10052003.0,07:00AM-06:30PM MON-SAT $2.30 240 | TOW: | CL...,2018-05-02 20:00:00.000
4,10052003.0,07:00AM-06:30PM MON-SAT $2.30 240 | TOW: | CL...,2018-05-22 20:00:00.000
...,...,...,...
124811,20090592.0,"7AM-11AM Mon-Fri $2.30 120, 11AM-4PM Mon-Fri $...",2023-05-25 01:48:32.117
124812,20151214.0,"7AM-6:30PM Mon-Sat $2.30 120, 6:30PM-10PM Mon-...",2023-06-01 20:00:00.000
124813,20151214.0,"07:00AM-06:30PM MON-SAT $2.30 120, 06:30PM-10:...",2023-06-02 07:43:28.600
124814,20171309.0,"9:30AM-4PM Mon-Fri $2.30 120, 6:30PM-10PM Mon-...",2023-06-07 08:36:33.230
124815,20171311.0,"9:30AM-4PM Mon-Fri $2.30 120, 6:30PM-10PM Mon-...",2023-06-07 08:38:23.160

In [35]:
# Defining path for the Parquet file
dc_parking_poli_file = "dc_policies.parquet"

# Writing the DataFrame to a Parquet file
dc_poli = pa.Table.from_pandas(dc_poli)
pq.write_table(dc_poli, dc_parking_poli_file)